.designer-title-component :link, .designer-title-component :visited {
    color: black;
    font-style: normal;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* div.designer-error-message div.codehilite {
    color: white;
    margin: 10px;
} */
