body {
    margin: 0px;
    max-width: 100vw;
    min-height: 100vh;
}

.bk.designer-design-pane .markdown a {
    color: white;
    font-style: normal;
    text-decoration: none;
}

.bk-root .bk-btn-primary, .bk-root .bk-btn-primary:hover, .bk-root .bk-btn-primary.bk-active {
    background: #66bb6a;
    border-color: #66bb6a;
}

.bk-root .bk.designer-design-pane .bk-btn-default,
.bk-root .bk.designer-design-pane .bk-btn-default:hover,
.bk-root .bk.designer-design-pane .bk-btn-default.bk-active,
.bk-root .bk.designer-design-pane .bk-input,
.bk-root .bk.designer-design-pane .bk-input[disabled]
{
    color: white;
    background: rgb(48, 48, 48);
}



.custom {

}

.bk.designer-design-pane {
    color: white;
    border-left-color: gray;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}