# Panel. We use github version because of
# - https://github.com/holoviz/panel/issues/883
# - https://github.com/holoviz/panel/pull/867
panel==0.12.6
bokeh==2.4.2
param==1.12.0
tornado
holoviews==1.14.6
hvplot==0.7.3
lxml
ipykernel

awesome-panel-extensions==20211210.1
panel-highcharts==20211210.1

# Data Engineering and Science
pandas==1.2.2
geopandas; platform_system != "Windows" # To `pip install geopandas` on windows please follow https://geoffboeing.com/2014/09/using-geopandas-windows/
xlrd==1.2.0 # For importing xls files

# Data Visualization
plotly==4.14.1
altair==4.0.0
# seaborn==0.9.0
# matplotlib==3.1.1
Pillow==9.0.1
tensorflow==2.7.0

# Utils
# ------------------------------------------------------------------------------
invoke==1.3.0 # Invoke is a Python task execution tool & library. See http://www.pyinvoke.org/
fitparse==1.1.0 # For reading and parsing .fit files. See https://github.com/dtcooper/python-fitparse

# Testing
# ------------------------------------------------------------------------------
pytest  # https://github.com/pytest-dev/pytest
pytest-sugar  # https://github.com/Frozenball/pytest-sugar
pytest-mock # https://github.com/pytest-dev/pytest-mock/
pytest-cov # https://pypi.org/project/pytest-cov/
selenium # To Web Test Automation. See https://selenium-python.readthedocs.io/
locust

# Code quality
# ------------------------------------------------------------------------------
# flake8==3.7.5  # https://github.com/PyCQA/flake8
isort # Sort import statements. We need 4.3.15 to correctly sort dataclasses
pylint==2.8.3 # Linter.
pylint2junit # Used to generate junit xml reports in azure pipelines https://pypi.org/project/pylint2junit/
black # Auto formatter.
autoflake # Automatically removes unused imports and unused variables. See https://github.com/myint/autoflake
coverage  # https://github.com/nedbat/coveragepy
mypy  # https://github.com/python/mypy
bandit # Bandit is a tool designed to find common security issues in Python code. See https://pypi.org/project/bandit/

yahooquery==1.0.11
pydeck==0.2.0
torch==1.10.0+cpu
torchvision==0.11.1+cpu
pandas-profiling==2.8.0
streamz
yfinance>=0.1.63
diskcache
statsmodels

# Documentation
-r ./requirements_docs.txt