body {
    overflow-y: hidden;
}

.pnx-nav-buttons {
    display: block;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

}
.pnx-nav-buttons details {
    outline:none;
    width: 100%;
}
.pnx-nav-buttons summary {
    outline:none;
    width: 100%;
}

.pnx-nav-buttons a, .pnx-nav-buttons summary {
    display: block;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}
.pnx-nav-buttons a:hover {
    border-radius: 2px;
}
.pnx-nav-buttons a:active {
    border-radius: 2px;
}
div.codehilite {
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.pnx-fileinput-area input[type=file] {
    width: 100%;
    height: 100%;
    border: 3px dashed #9E9E9E;
    background: #f8f8f8;
    border-radius: 5px;
    text-align: left;
    margin: auto;
}
