.pnx-nav-buttons {
    display: block;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

}
.pnx-nav-buttons details {
    outline:none;
    width: 100%;
}
.pnx-nav-buttons summary {
    outline:none;
    width: 100%;
}

.pnx-nav-buttons a, .pnx-nav-buttons summary {
    display: block;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
}
.pnx-nav-buttons a:hover {
    border-radius: 2px;
}
.pnx-nav-buttons a:active {
    border-radius: 2px;
}
