#sidebar a {
    color: white;
}
.pnx-nav-buttons a {
    color: white;
}
.pnx-nav-buttons a:hover, .pnx-nav-buttons summary:hover {
    background-color: #2f2f2f;
}
.pnx-nav-buttons a:active, .pnx-nav-buttons summary:active {
    background-color: #424242;
}