<div class="pnx-nav-buttons">
    <h4>Main</h2>
    <a href="/">Home</a>
    <a href="gallery">Gallery</a>
    <a href="about">About</a>
    <h4>Resources</h4>
    <a href="resources">Awesome List</a>
    <a href="https://github.com/marcskovmadsen/awesome-panel" target="_blank">Awesome Panel Repo</a>
    <a href="https://awesome-panel.readthedocs.io/en/latest/" target="_blank">Awesome Panel Docs</a>
    <a href="https://pypi.org/project/awesome-panel/" target="_blank">Awesome Panel Package</a>
    <a href="https://hub.docker.com/r/marcskovmadsen/awesome-panel" target="_blank">Awesome Panel Container</a>
    <h4>Panel</h4>
    <a href="https://panel.holoviz.org" target="_blank">Panel</a>
    <a href="https://discourse.holoviz.org/" target="_blank">Discourse</a>
    <a href="https://github.com/holoviz/panel.git" target="_blank">Github</a>
    <h4>Apps</h4>
    <a href="async-tasks">Async Tasks</a>
    <a href="boostrap-dashboard">Bootstrap Dashboard</a>
    <a href="custom-bokeh-model">Custom Bokeh Model</a>
    <a href="classic-dashboard">Classic Dashboard</a>
    <a href="data-explorer-loading">DataExplorer - Loading...</a>
    <a href="de-tr">DE:TR: Object Detection</a>
    <a href="image-classifier">Image Classifier</a>
    <a href="js-actions">JS Actions</a>
    <a href="kick-start-dashboard">Kickstarter Dashboard</a>
    <a href="owid-choropleth">Owid Choropleth Map</a>
    <a href="pandas-profiling">Pandas Profiling</a>
    <a href="param-reference">Param Reference Example</a>
    <a href="yahoo-query">Yahoo Query</a>
    <h4>Extensions</h2>
    <a href="ext-alert">Test Bootstrap Alerts</a>
    <a href="ext-card">Test Bootstrap Card</a>
    <a href="ext-code">Test Code</a>
    <a href="ext-dataframe">Test DataFrame</a>
    <a href="ext-divider">Test Divider</a>
    <a href="ext-echarts">Test ECharts</a>
    <a href="ext-font-awesome">Test FontAwesome</a>
    <a href="ext-headings">Test Headings</a>
    <a href="ext-markdown">Test Markdown</a>
    <a href="ext-material">Test Material Components</a>
    <a href="ext-model-viewer">Test Model Viewer</a>
    <a href="ext-perspective">Test Perspective Viewer</a>
    <a href="ext-perspective">Test Progress Extension</a>
    <a href="ext-social-links">Test Social Links</a>
    <a href="ext-spinners">Test Spinners</a>
    <a href="ext-wired">Test Wired</a>
    <h4>Share on Social</h4>
    <a href="https://github.com/marcskovmadsen/awesome-panel" target="_blank">Star on Github</a>
    <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fawesome-panel.org&amp;text=Checkout" title="Share on Twitter" class="button-share-link" target="_blank">Share on Twitter</a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fawesome-panel.org&amp;title=Checkout" title="Share on LinkedIn" class="button-share-link" target="_blank">Share on LinkedIn</a>
    <a href="https://reddit.com/submit?url=https%3A%2F%2Fawesome-panel.org&amp;title=Checkout" title="Share on Reddit" class="button-share-link" target="_blank">Share on Reddit</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fawesome-panel.org" title="Share on Facebook" class="button-share-link" target="_blank">Share on Facebook</a>
    <a href="mailto:?subject=https%3A%2F%2Fawesome-panel.org&amp;body=Checkout&nbsp;https%3A%2F%2Fawesome-panel.org" title="Share by mail" class="button-share-link" target="_blank">Share by mail</a>
</div>