{% extends base %}

<!-- goes in body -->
{% block postamble %}
<script src="https://unpkg.com/@webcomponents/webcomponentsjs@next/webcomponents-loader.js"></script>
<script type="module" src="https://unpkg.com/@material/mwc-button?module"></script>
<script type="module" src="https://unpkg.com/@material/mwc-drawer?module"></script>
<script type="module" src="https://unpkg.com/@material/mwc-icon-button?module"></script>
<script type="module" src="https://unpkg.com/@material/mwc-slider?module"></script>
<script type="module" src="https://unpkg.com/@material/mwc-top-app-bar-fixed?module"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
{% endblock %}

<!-- goes in body -->
{% block contents %}
<div class="material-template">
    <mwc-top-app-bar-fixed class="appBar">
        <mwc-icon-button icon="menu" slot="navigationIcon" class="appDrawerToggleButton"></mwc-icon-button>
        <div slot="title">{{ embed(roots.app_title) }}</div>
        <mwc-icon-button icon="file_download" slot="actionItems"></mwc-icon-button>
        <mwc-icon-button icon="print" slot="actionItems"></mwc-icon-button>
        <mwc-icon-button icon="favorite" slot="actionItems"></mwc-icon-button>
    </mwc-top-app-bar-fixed>
    <mwc-drawer hasHeader type="dismissible">
        <span slot="title">Navigation</span>
        <div class="appMenu">
            {{ embed(roots.menu_item) }}
        </div>
        <div class="appContent" slot="appContent">
            {{ embed(roots.main) }}
        </div>
    </mwc-drawer>
    <script>
    var templates = document.getElementsByClassName("material-template");

    <!-- Enables toggling of multiple drawers -->
    for (let template of templates){
        var button = template.getElementsByClassName('appDrawerToggleButton')[0];
        button.drawer = template.getElementsByTagName("mwc-drawer")[0];

        button.onclick = function(e) {
        var button = e.target;
        var drawer = button.drawer;
        console.log(button)
        console.log(drawer)
        drawer.open = !drawer.open;
        };

        <!-- Enables displaying the bar in a notebook cell instead of full window -->
        var bar = template.getElementsByClassName('appBar')[0];
        bar.scrollTarget = template.getElementsByClassName('appContent')[0];
    }
    </script>
    {{ embed(roots.theme_css) }}
</div>
{% endblock %}

