:root {
    --mdc-theme-primary: green;
    --mdc-theme-secondary: purple;
}
body {
    font-family: roboto;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    background: var(--mdc-theme-background);
    min-height: 100vh;
}
.bk-root .bk {
    font-family: roboto;
}
img {
    /* we want no overflow. Will make it easier to include images in markdown */
    max-width: 100%;
}
table {
    width: 95%;
}
mwc-top-app-bar-fixed {
    box-shadow: 5px 5px 20px #9E9E9E;
    font-size: 20px;
    z-index: 50;
}
.appMenu * {
    width:100%;
    align-items: left;
}
.appMain {
    margin: 10px;
}
div.appContent {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
}
/* mwc-top-app-bar-fixed p, mwc-top-app-bar-fixed .bk-root .bk-btn, mwc-top-app-bar-fixed .bk-root .bk {
    font-size: 20px;
} */

div#spinner {
    position: fixed;
    top: 78px;
    right: 10px;
    width: 80px;
    z-index: 100;
  }

#pageChanging {
    font-size: 50px;
    width: 400px;
}
#resourcesmenu {
    z-index: 99;
}
#socialmenu {
    z-index: 101;
}
.id-page-selection select.bk-input, .id-page-selection select.bk-input:focus{
    background: green;
    color: white;
    font: roboto;
    font-size: 14px;
    font-weight: 500;
    border-color: lightgrey;
    text-transform: uppercase;
}
.id-page-selection option, .id-page-selection option:focus{
    background: white;
    color: black;
}


.bk-root .bk-btn {
    height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .bk-root .bk-btn:hover,
  .bk-root .bk-btn:focus {
    text-decoration: none;
  }
  .bk-root .bk-btn:active,
  .bk-root .bk-btn.bk-active {
    background-image: none;
    box-shadow: none;
  }